@model IEnumerable<PrzegladaraStrukturyDyskowej.Models.File>


@{
    ViewData["Title"] = "Przegladara Struktury Dyskowej";
}
<div>
    <p>
        home\
        @foreach (var item in Model)
        {
            @Html.DisplayFor(modelItem => item.Path)
            break;
        }
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Nazwa Pliku", "Index", new { sortBy = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Data modyfikacji", "Index", new { sortBy = ViewBag.LastWriteTimeSortParm })
                </th>
                <th>
                    @Html.ActionLink("Rozmiar", "Index", new { sortBy = ViewBag.WeightByteSortParm })
                </th>
                <th>
                    @Html.ActionLink("Atrybuty", "Index", new { sortBy = ViewBag.FileTypeSortParm })
                </th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (!string.IsNullOrEmpty(item.Path))
                {
                    <tr>
                        <td>
                            @Html.ActionLink("[...]", "GoBack")
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                }
                break;
            }
            @foreach (var item in Model)
            {
                @if (!string.IsNullOrEmpty(item.Name))
                {
                    <tr>
                        <td>
                            @if (item.FileType.Contains("Directory"))
                            {
                                <img src="~/Images/Directory.ico" style="vertical-align: middle; height: 40px;">
                            }
                            else
                            {
                                <img src="~/Images/File.ico" style="vertical-align: middle; height: 40px;">
                            }
                            @if (item.FileType.Contains("Directory"))
                            {
                                @Html.ActionLink(item.Name, "OpenDictionary", new { id = item.Id });
                            }
                            else
                            {
                                @Html.ActionLink(item.Name, "DownloadFileFromFileSystem", new { id = item.Id })
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastWriteTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WeightByte)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Atributes)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "File", new { id = item.Id })">
                                <img src="~/Images/Edit.ico" style="vertical-align: middle; width: 40px;">
                            </a> |
                            <a href="@Url.Action("Delete", "File", new { id = item.Id })">
                                <img src="~/Images/delete.ico" style="vertical-align: middle; width: 40px;">
                            </a> |
                            @if (!item.FileType.Contains("Directory"))
                            {
                                <a href="@Url.Action("DownloadFileFromFileSystem", "File", new { id = item.Id })">
                                    <img src="~/Images/Downloads.ico" style="vertical-align: middle; width: 40px;">
                                </a>
                            }

                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>